body {
  height: 100%;
  
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}
.landgraaf{
    height: 400px;
    width: 500px;
    position: relative;
    top: 500px;
    left: 500px;
}
.berg{
    width: 500px;
    height: 300px;
    position: relative;
    left: 0px;
    top: 50px;
}
a{
    font-size: 50px;
    font-style: normal, bold;
    position: relative;
    top: 375px;
    left: -450px;
}
#blokje{
    display: block;
    height: 400px;
    width: 50px;
    background-color: white;
    position: relative;
    top: 500px;
    left: -450px;
}