body {
  height: 100%;
  
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}
.landgraaf{
    height: 400px;
    width: 500px;
    position: relative;
    top: 500px;
    left: 500px;
}
.berg{
    width: 500px;
    height: 300px;
    position: relative;
    left: 0px;
    top: 50px;
}
.ticker {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
}

.ticker-text {
    color: white;
    font-size: 2rem;
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    animation: scroll-text 12s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
#blokje{
    display: block;
    height: 400px;
    width: 50px;
    background-color: white;
    position: relative;
    top: 500px;
    left: -450px;
}