body {
  height: 100%;
  
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}
.zwitserland{
    width: 700px;
    height: 300px;
    position: absolute;
    top: 45%;
    left: 30%;
}
.hutten{
    width: 500px;
    height: 300px;
    position: absolute;
    left: 35%;
    top: 5%;
}
.ticker {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
}

.ticker-text {
    color: white;
    font-size: 2rem;
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    animation: scroll-text 20s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}