body {
  height: 100%;
  
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}
.zwitserland{
    width: 700px;
    height: 300px;
    position: relative;
    top: 500px;
    left: 350px;
}
.hutten{
    width: 500px;
    height: 300px;
    position: relative;
    left: -250px;
    top: 50px;
}
a{
    font-size: 50px;
    font-style: normal, bold;
    position: relative;
    top: 400px;
    left: -600px;
}